.greenRow
{
    background: lightgreen;
}

.blueRow
{
    background: lightskyblue;
}

.italics
{
    font-style: italic;
    text-align: center
}

.redText
{
    color: red;
}

.blueText
{
    color: blue;
}